.BadgeDetails__hero {
    width: 100%;
    padding: 2rem 0;
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
    margin-bottom: 1rem;
    color: #ffffff;
  }
  
  .BadgeDetails__hero-attendant-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .BadgeDetails__buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  @media (max-width: 700px) {
  .container .row{
    flex-direction: column;
  }
  .col:last-child{
    margin-top: 20px;
  }
  .col:last-child div{
    display: flex;
    justify-content: space-evenly;
    margin: 0 10px;
  }
  .col:last-child div .btn{
    min-width: 100px;
    min-height: 30px;
    padding: 0;
    margin-bottom: 24px;
  } 
}
  
  